.menu
    button.start Start
.end-overlay
    .end-overlay__title game over! try one more!
    .end-overlay__score
    .restart-btn restart
.space
    .hearts-container
        .heart.first-heart
        .heart.second-heart
        .heart.last-heart
    .earth-container
        #earth
        #ship



